@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,900;1,900&display=swap');

// ---------------- General
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

    a{
        text-decoration: none;
        color: ghostwhite;
    }
}

body{
    background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
    display: flex;
    justify-content: center;
    align-items: center;
}

// ---------------- Mixins y Media Queries
@mixin mediaMobile {
    @media (max-width: 600px) { @content }
}

@mixin mediaTablet {
    @media (min-width: 700px) and (max-width: 1100px) { @content }
}

// ---------------- Secciones de Login y Exit
form{
    width: 35%;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: ghostwhite;
    padding: 20px;
    margin-top: 150px;
    border-radius: 3px;
    box-shadow: black 2px 2px 10px;

    p{
        margin-top: 10px;
        font-size: 16px;
    }

    @include mediaMobile{
        width: 75%;
    }

    @include mediaTablet {
        width: 50%;
        margin-top: 150px;
    }

    .data{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 20px 0;
    
        @include mediaMobile {
            input{
                width: 90%;
            }
        }

        @include mediaTablet {
            input{
                width: 95%;
            }
        }
    
        div{
            display: flex;
            flex-direction: column;
            margin: 20px 0;
        }
    
        input{
            background: none;
            border-style: none none solid none;
            border-width: 1px;
            border-color: aliceblue;
            color: ghostwhite;
            margin-top: 10px;
            padding: 10px;
        }
    
        label{
            width: 100px;
        }
    }

    #submit{
        align-self: center;
        background-color: orangered;
        border: none;
        text-transform: uppercase;
        box-shadow: black 1px 1px 2px;
        color: ghostwhite;
        padding: 10px;
        width: 100%;
    }

    button{
        align-self: center;
        background-color: gainsboro;
        border: none;
        text-transform: uppercase;
        box-shadow: black 1px 1px 2px;
        padding: 10px;
        width: 100%;
        margin: 20px 0;

        a{
            color: orangered;
        }
    }
}